.minus,.plus {
            width: 30px;
            height: 30px;
            background: #f2f2f2;
            border-radius: 4px;
            padding: 8px 5px 8px 5px;
            border: 1px solid #ddd;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            cursor: pointer;
        }

        .daughterinput {
            height: 34px;
            width: 40px;
            text-align: center;
            font-size: 26px;
            border: 1px solid #ddd;
            border-radius: 4px;
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
        }


        .radio_initial input[type="radio"] {
            opacity: 0;
            position: fixed;
            width: 0;
        }

        .radio_initial label {
            background-color: #ddd;
            padding: 5px 5px;
            font-family: sans-serif, Arial;
            font-size: 15px;
            border: 2px solid #444;
            border-radius: 4px;
            cursor: pointer;
        }

        .radio_initial label:hover {
            background-color: #dfd;
        }


        .radio_initial input[type="radio"]:checked+label {
            background-color: #bfb;
            border-color: #4c4;
        }

        .radio_obs input[type="radio"] {
            opacity: 0;
            position: fixed;
            width: 0;
        }

        .radio_obs label {
            background-color: #ddd;
            padding: 5px 5px;
            font-family: sans-serif, Arial;
            font-size: 15px;
            border: 2px solid #444;
            border-radius: 4px;
            cursor: pointer;
        }

        .radio_obs label:hover {
            background-color: #dfd;
        }

        .radio_obs input[type="radio"]:checked+label {
            background-color: #bfb;
            border-color: #4c4;
        }

        .box_particle button {
            background-color: #ddd;
            padding: 5px 5px;
            font-family: sans-serif, Arial;
            font-size: 15px;
            border: 2px solid #444;
            border-radius: 4px;
            margin-bottom: 5px;
            cursor: pointer;
        }

        .box_particle button:hover {
            background-color: #dfd;
        }

        .cards {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
        }

        .card {
            flex: 0 0 100px;
            margin: 10px;
            border: 1px solid #ccc;
            box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
            height: 335px;
            overflow-y: hidden;
            width: 150px;
            display: inline-block;
            background: lightyellow;

        }

        .card2 {
            flex: 0 0 100px;
            margin: 10px;
            border: 1px solid #ccc;
            box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
            height: 335px;
            overflow-y: scroll;
            width: 220px;
            display: inline-block;
            background: lightpink;
        }

        .card3 {
            flex: 0 0 100px;
            margin: 10px;
            border: 1px solid #ccc;
            box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
            height: 335px;
            overflow-y: hidden;
            width: 150px;
            display: inline-block;
            background: lightblue;
        }


        .card .text , .card2 .text , .card3 .text{
            padding: 0 20px 20px;
        }

        .card .text>button {
            background: gray;
            border: 0;
            color: white;
            padding: 10px;
            width: 100%;
        }

        /* Works on Firefox */
        * {
            scrollbar-width: thin;
            scrollbar-color: blue orange;
        }

        /* Works on Chrome, Edge, and Safari */
        *::-webkit-scrollbar {
            width: 10px;
        }

        *::-webkit-scrollbar-track {
            background: lightsalmon;
        }

        *::-webkit-scrollbar-thumb {
            background-color: blue;
            border-radius: 20px;
            border: 2px solid lightsalmon;
        }
        #checkbox-btn {
            padding: 10px 15px;
            font-size: 15px;
            text-align: center;
            cursor: pointer;
            outline: none;
            color: #fff;
            background-color: #04AA6D;
            border: none;
            border-radius: 15px;
            box-shadow: 0 5px #999;
            ;
          }
          
          #checkbox-btn:hover {background-color: #3e8e41}
          
          #checkbox-btn:active {
            background-color: #3e8e41;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
          }
          .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 80%;
          }
          #toTop {
            padding: 5px 3px;
            background: #000;
            color: #fff;
            position: fixed;
            bottom: 0;
            right: 5px;
            display: none;
            cursor: pointer;
        }
        
        .navbtn {
            background-color: lightpink; /* Green */
            border-radius: 4px;
            color: black;
            padding: 10px 10px;
            padding-bottom: 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 15px;
            margin-left: 10px;
            height: 40px;
            cursor: pointer;
        }
        .heading {
            background-color: blue;
            width: 148px;
            color: white;
            text-align: center;
        }
        .heading2 {
            background-color: blue;
            width: 208px;
            color: white;
            text-align: center;
            padding: 5px 5px 5px 5px;
        }
        
        /* Turn off scrollbar when body element has the loading class */
        body.loading{
            overflow: hidden;   
        }
        /* Make spinner image visible when body element has the loading class */
        body.loading .overlay{
            display: block;
        }
